*{
background-color: #241f47;
color: #6d6d6d;
margin: 0;
padding: 0;

}

.row{
    margin-left: 22px;
}


 .header{
   height: 70px;
  
 }

 #rifles{
     margin-left: 260px;
color: darkgreen;
font-size: 30px;
 }

 #knifes{
margin-left: 260px;
color: darkgreen;
font-size: 30px;
 }

 #glove{
margin-left: 260px;
color: darkgreen;
font-size: 30px;
 }

 #pistols{
margin-left: 260px;
color: darkgreen;
font-size: 30px;
 }

 #stickers{
     margin-left: 260px;
     color: darkgreen;
     font-size: 30px;
 }


#box{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px rgb(0, 0, 0);
margin-top: 50px;
margin-right: 20px;
text-align: center;
color: cyan;
font-size: 50px;
}

#box2{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    margin-right: 20px;
    color: cyan;
font-size: 50px;
text-align: center;
}

#box3{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-right: 20px;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
text-align: center;
}

#box4{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    margin-right: 20px;
    color: cyan;
font-size: 50px;
text-align: center;
}

#box5{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
margin-right: 20px;
text-align: center;
}

#box6{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
margin-right: 20px;
text-align: center;
}

#box7{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
margin-right: 20px;
text-align: center;
}

#box8{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
margin-right: 20px;
text-align: center;
}

#box9{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
margin-right: 20px;
text-align: center;
}

#box10{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
margin-right: 20px;
text-align: center;
}

#box11{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
margin-right: 20px;
text-align: center;
}

#box12{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
margin-right: 20px;
text-align: center;
}

#box13{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
margin-right: 20px;
text-align: center;
}

#box14{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
margin-right: 20px;
text-align: center;
}

#box15{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
margin-right: 20px;
text-align: center;
}

#box16{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
margin-right: 20px;
text-align: center;
}

#box17{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
margin-right: 20px;
text-align: center;
}

#box18{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
margin-right: 20px;
text-align: center;
}

#box19{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
margin-right: 20px;
text-align: center;
}

#box20{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
margin-right: 20px;
text-align: center;
}

#box21{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
margin-right: 20px;
text-align: center;
}

#box22{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
margin-right: 20px;
text-align: center;
}

#box23{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
margin-right: 20px;
text-align: center;
}

#box24{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    color: cyan;
font-size: 50px;
text-align: center;
}

#box25{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    color: cyan;
    margin-right: 20px;
}


#box26{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    color: cyan;
  
}

#box27{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    color: cyan;
  margin-left: 20px;
}

#box28{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    color: cyan;
  margin-left: 20px;
}

#box29{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    color: cyan;
  margin-left: 20px;
}

#box30{
    width: 270px;
    height: 270px;
    background-color: red;
    border: solid 6px black;
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    color: cyan;
  margin-left: 20px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
 
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

